.filter-rooms {
  height: auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  overflow-x: auto;
}

.filter-rooms .room {
  position: relative;
  max-width: 220px;
  width: 200px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-radius: 50px;
  border: solid 3px rgb(194, 194, 194);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: border-color 0.5s, background-color 0.2s;
}

.room img {
  position: absolute;
  border-radius: 50px;
  height: 100%;
  width: 100%;
  opacity: 90%;
  padding: 3px;
  filter: brightness(0.7);
  object-fit: cover;
}

.room h3 {
  z-index: 2;
  color: white;
  transition: color 0.5s;
}

.filter-rooms .room.active {
  border-color: #00cd18;
}

.filter-rooms .room.active h3 {
  color: #82ff91;
}

.filter-rooms .room:hover {
  border-color: #00cd18;
  cursor: pointer;
}

.filter-rooms .room:hover h3 {
  color: #82ff91;
}

.search-container {
  position: relative;
  display: flex;
  width: auto;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}

.search-input {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 40px;
  transition: width 0.7s ease;
  box-shadow: 2px 2px 5px #777;
}

@media (max-width: 1300px) {
  .filter-rooms .room {
    min-width: 100px;
    font-size: 13px;
  }

  .search-input {
    width: 200px;
  }
}

@media (max-width: 1000px) {
  .filter-rooms {
    overflow-x: auto;
    max-width: 100%;
    padding: 10px 0;
  }

  .filter-rooms::-webkit-scrollbar {
    height: 8px;
  }

  .filter-rooms::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
  }

  .filter-rooms::-webkit-scrollbar-thumb {
    background-color: #00cd18;
    border-radius: 10px;
    margin-top: 6px;
  }

  .filter-rooms .room {
    min-width: 140px;
    padding: 10px;
    font-size: 13px;
  }

  .search-input {
    width: 260px;
  }
}
