

.opcoes-filtro {
    display: none; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
    max-width: 1400px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.opcoes-filtro.show {
    display: flex;
}

.opcoes-filtro .room {
    background-image: linear-gradient(90deg, #537D5D, #73946B, #537D5D);
    position: relative;
    max-width: 220px;
    width: 200px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 50px;
    border: solid 3px rgb(194, 194, 194);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: border-color 0.1s, background-color 0.2s;
}

.opcoes-filtro .room img {
    margin-right: 10px;
}

.opcoes-filtro .room h3 {
    z-index: 2;
    color: white;
    transition: color 0.1s;
}

.opcoes-filtro .room.active {
    border-color: #D2D0A0;
}

.opcoes-filtro .room.active h3 {
    color: #D2D0A0;
}

.opcoes-filtro .room:hover {
    border-color: #CAE8BD;
    cursor: pointer;
}

.opcoes-filtro .room:hover h3 {
    color: #CAE8BD;
}

@media (max-width: 1300px) {
    .opcoes-filtro .room {
        min-width: 100px;
        font-size: 13px;
    }

}

@media (max-width: 1000px) {
    .opcoes-filtro {
        overflow-x: auto;
        max-width: 100%;
        padding: 10px 0;
    }

    .opcoes-filtro::-webkit-scrollbar {
        height: 8px;
    }

    .opcoes-filtro::-webkit-scrollbar-track {
        background: #e0e0e0;
        border-radius: 10px;
    }

    .opcoes-filtro::-webkit-scrollbar-thumb {
        background-color: #00cd18;
        border-radius: 10px;
        margin-top: 6px;
    }

    .opcoes-filtro .room { /* Ajuste para o novo seletor */
        min-width: 140px;
        padding: 10px;
        font-size: 13px;
    }


}
