<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Blog</title>
    <link rel="stylesheet" href="/view/css/assets/main.css">
    <link rel="stylesheet" href="/view/css/home.css">
</head>

<body>
    <!--NAVBAR-->
    <header>
        <div class="menu-icon" onclick="toggleSidebar()">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
        <div class="navbar-content">
            <a href="/view/index.html"><img src="/view/img/elements/logo_q_perigo.png" alt=""></a>
        </div>
    </header>
    <aside class="sidebar" id="sidebar">
        <p class="close-btn" onclick="toggleSidebar()">×</p>
        <a href="/view/index.html">
            <div class="logotipo"><img src="/view/img/elements/logo_q_perigo.png" alt=""></div>
        </a>
        <div class="sidebar-content">
            <a href="/view/index.html" class="sidebar-link active">
                <i class="fa-solid fa-house" style="color: #ffffff;"></i>
                <span>Home</span>
            </a>

            <a href="/view/desenvolvedores.html" class="sidebar-link">
                <i class="fa-solid fa-users" style="color: #ffffff;"></i>
                <span>Sobre Nós</span>
            </a>



            <div class="conteudos">Acesse Também
                <div class="triangulo"></div>
            </div>

            <a href="/view/dicas_web.html" class="sidebar-link">
                <i class="fa-solid fa-lightbulb" style="color: #ffffff;"></i>
                <span>Dicas da Web</span>
            </a>

            <a href="/view/produtos_limpeza.html" class="sidebar-link">
                <i class="fa-solid fa-soap" style="color: #ffffff;"></i>
                <span>Produtos de Limpeza</span>
            </a>
        </div>
    </aside>
    <div class="overlay" id="overlay" onclick="toggleSidebar()"></div>

    <!--CONTEUDO PRINCIPAL-->
    <main>
        <button class="back-to-top" onclick="scrollToTop()">
            <i class="fa-solid fa-arrow-up"></i>
        </button>

        <section class="container-banner">
            <div class="banner">
                <div class="content-banner">
                    <h3>Você sabe armazenar os Produtos de Limpeza?</h3>
                    <p>Saiba como guardar produtos de limpeza corretamente para proteger sua família, evitar
                        acidentes e
                        garantir a eficácia dos produtos. Dicas essenciais para um lar mais seguro e organizado!</p>
                    <a href="#emphasis-base" class="btn-banner">Saiba mais</a>
                </div>
            </div>
        </section>

        <div class="base-filter-search">
            <div class="filter-rooms">
                <button class="room" id="1">
                    <img src="https://helbor.blob.core.windows.net/medias/website-institucional/decoracao_para_cozinha_b1cfc687d9.jpg"
                        alt="">
                    <h3>Cozinha</h3>
                </button>

                <button class="room" id="2">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREn6zvb3hCv7T3bU9L2yRaf6Ava8E1kFrpbQ&s"
                        alt="">
                    <h3>Quarto</h3>
                </button>

                <button class="room" id="3">
                    <img src="https://cdn.awsli.com.br/2720/2720804/produto/270315514/mural-de-6-fotos-marrom-parede-sala-qkaiiszc19.png"
                        alt="">
                    <h3>Sala de Estar</h3>
                </button>

                <button class="room" id="4">
                    <img src="https://copalux.cdn.magazord.com.br/img/2024/02/blog/9275/banheiro-decorado.jpg" alt="">
                    <h3>Banheiro</h3>
                </button>

                <button class="room" id="5">
                    <img src="https://emporiodosvarais.com.br/cdn/shop/articles/Os_utensilios_que_nao_podem_faltar_na_sua_lavanderia_1102x.jpg?v=1657746969"
                        alt="">
                    <h3>Lavanderia</h3>
                </button>
            </div>

            <div class="search-container">
                <label for="search-input" class="search-icon">
                    <i class="fa-solid fa-magnifying-glass" style="color: #00ab25;"></i>
                </label>
                <input type="text" class="search-input" id="search-input" placeholder="Encontre o que procura..."
                    required />
            </div>
        </div>

        <div class="latest-news-base">
            <h2 class="title-latest-news">Produtos Quimícos Domésticos</h2>
            <div class="cards-base-home cards-base-home-column"></div>
        </div>

        <br><br>

        <div class="emphasis-base" id="emphasis-base">
            <h2 class="title-emphasis">Produtos Mais Comuns    </h2>
            <div class="cards-base-home cards-base-home-row"></div>

            <div class="numberpage">
                <div id="prev-page">&#10094;</div>
                <p class="number">1</p>
                <div id="next-page">&#10095;</div>
            </div>
        </div>

        <hr style="max-width: 1400px; margin: 30px auto;">
    </main>

    <!--RODAPÉ-->
    <footer></footer>

    <script src="/view/js/interactions/navbar.js"></script>
    <script src="/view/js/interactions/rolagem_tela.js"></script>

    <!--<script src="./js/interactions/carrossel.js"></script>-->
    
    <script src="/view/js/homeScript.js" type="module"></script>


</body>

</html>