<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Blog</title>

    <link rel="stylesheet" href="./css/base/reset.css">
    <link rel="stylesheet" href="./css/layout/header.css">
    <link rel="stylesheet" href="./css/layout/main.css">
    <!-- LINK RODAPE -->
    <link rel="stylesheet" href="./css/pages/estrutura-home.css">
    <link rel="stylesheet" href="./css/components/global/barra-lateral.css">
    <link rel="stylesheet" href="./css/components/global/rolagem-topo.css">

    <link rel="stylesheet" href="./css/components/home/banner.css">
    <link rel="stylesheet" href="./css/components/home/filter-rooms.css">
    <link rel="stylesheet" href="./css/components/home/card-column.css">
    <link rel="stylesheet" href="./css/components/home/card-row.css">


    <link rel="shortcut icon" href="./img/conteudos/favicon.png" type="image/x-icon">

</head>

<body>
    
    <header>

        <div class="div-menu">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>

        <div class="container-navbar">
            <a href="#">
                <img 
                    src="./img/conteudos/logo_q_perigo.png" 
                    alt="Logo branca escrito Qperigo como representação da página"
                >
            </a>
        </div>

        <div class="container-busca">
            <label for="busca-input" class="icone-busca">
                <i class="fa-solid fa-magnifying-glass" style="color: #537D5D;"></i>
            </label>
            <input type="text" class="busca-input" id="busca-input" placeholder="Encontre o que procura..." required/>
        </div>

    </header>

    <aside class="barra-lateral" id="barra-lateral">

        <p class="fechar-botao">×</p>
        <a href="#">

            <div class="logotipo">
                <img 
                    src="./img/conteudos/logo_q_perigo.png" 
                    alt="Logo branca escrito Qperigo como representação da página"
                >
            </div>

        </a>

        <div class="container-barra-lateral">

            <a href="#" class="link-da-barra-lateral active">
                <i class="fa-solid fa-house" style="color: #ffffff;"></i>
                <span>Home</span>
            </a>

            <a href="./desenvolvedores.html" class="link-da-barra-lateral">
                <i class="fa-solid fa-users" style="color: #ffffff;"></i>
                <span>Sobre Nós</span>
            </a>

            <!--
                <div class="conteudos">
                    Acesse Também
                <div class="triangulo"></div>
                </div>

                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-lightbulb" style="color: #ffffff;"></i>
                    <span>Dicas da Web</span>
                </a>

                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-soap" style="color: #ffffff;"></i>
                    <span>Produtos de Limpeza</span>
                </a>
            -->
            
        </div>

    </aside>

    <div class="ocultar-fora" id="ocultar-fora"></div>

    <main>

        <button class="voltar-topo">
            <i class="fa-solid fa-arrow-up"></i>
        </button>

        <section class="container-banner">

            <div class="banner"></div>

        </section>

        <div class="container-cards-destaques">
            
            <h2 class="titulo-destaque">        
                Produtos Químicos Mais Comuns
            </h2>
            
            <div class="todos-cards-home cards-home-column"></div>
        
        </div>

        <div class="container-cards-gerais" id="container-cards-gerais">
            <h2 class="titulo-gerais">
                <abbr title="Filtrar postagens">
                    <img id="filtro-icon" class="icons" src="./img/icons/filter.png" alt="Ícone de Filtro da cor verde">
                </abbr>
                Produtos Quimicos Domésticos
            </h2>

            <div id="opcoes-filtro" class="opcoes-filtro">
                
                <button class="room" id="1">
                    <img src="img/icons/gas-stove.png"
                        alt="">
                    <h3>Cozinha</h3>
                </button>

                <button class="room" id="2">
                    <img src="img/icons/bed.png"
                        alt="">
                    <h3>Quarto</h3>
                </button>

                <button class="room" id="3">
                    <img src="img/icons/sofa.png"
                        alt="">
                    <h3>Sala de Estar</h3>
                </button>

                <button class="room" id="4">
                    <img src="img/icons/basin.png" alt="">
                    <h3>Banheiro</h3>
                </button>

                <button class="room" id="5">
                    <img src="img/icons/laundry.png"
                        alt="">
                    <h3>Lavanderia</h3>
                </button>
            </div>

            <div class="todos-cards-home cards-home-row"></div>

            <div class="numberpage">
                <div id="prev-page">&#10094;</div>
                <p class="number">1</p>
                <div id="next-page">&#10095;</div>
            </div>

        </div>

        <hr style="max-width: 1400px; margin: 30px auto;">

    </main>

    <footer></footer>

    <script src="./js/homeScript.js" type="module"></script>
    <script src="./js/components/format-inform-conteudo/page_constructor.js"></script>

</body>

</html>